{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>storyteller.</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="banner">
    <div class="navbar">
        Storyteller.
        <ul>
            <li><a href="index/"></a>Home</li>
            <li><a href="gallery/"></a>Gallery</li>
            <li><a href="about/"></a>About us</li>
        </ul>
    </div>
    <div class="content">
        <h1>StoryTeller.</h1><br><br><br>
        <button><a href="third/">Login</a><span></span></button><br>
        <button><a href="second/">Registration</a><span></span></button><br><br>
    </div>

</div>
</body>
</html>